@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Roboto:wght@400;700&display=swap');

* {
  font-family: "Black Han Sans";
  font-weight: 400;
  font-size: 24px;
  color: #202423;
  text-shadow: 2px 3px 4px rgba(255, 255, 255, 0.25);
  text-decoration: none;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
}

.Navbar {
  position: sticky;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 0px;
  width: 100%;
  min-height: 80px;
  background-color: #ff4a03;
}

.nav-item-burn {
  position: relative;
}

img {
  position: absolute;
  opacity: 0.4;
  height: 60px;
  top: 20%;
  left: 45%;
  transform: translate(-50%, -50%);
}

.nav-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 100%;
}

@media (min-width: 40rem) {
  .nav-items {
    justify-content: flex-end;    
    gap: 5rem;
    margin-right: 6rem;
  }

}
